body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  margin:5,5,5,5;
}

.questionTitle{
  color: #150a7a;
  margin-top:60px;
}

.alternatives{
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 10px;
  display:inline;
  border:  1px solid grey;
  border-radius: 5px;
  color: rgb(103, 103, 176);
  cursor: pointer;

}

.btnCheckAnswers{
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(80, 43, 216);
  border: none;
  cursor:pointer
}

.btnCheckAnswers:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.btnAndLabel{
  display:flex;
  justify-content: center;
  
}

.validationAlternativesChecked{
color: rgb(80, 43, 216);
margin-right: 20px;
margin-top: 45px;

}


.mainPage{
  padding: 250px;
}

.quizzicalTitle{
  color :rgb(80, 43, 216);
  font-size: 40px;
  margin: 10px;
}

.quizDescription{
  font-style:italic ;
  margin-top: 0;
}

.btnStartQuizz{
  margin-top: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: aliceblue;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgb(80, 43, 216);
}

.btnStartQuizz:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
